@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: default;
    user-select: none;
    overscroll-behavior: contain;
    touch-action: none;
}

body {
    background: #000;
    font: 1rem Arial, Verdana, sans-serif;
    color: #fff;
    line-height: 1;
    text-align: center;
}

canvas {
    width: 100%;
}

#app {
    display: inline-block;
    margin-top: 2rem;
    text-align: left;
}

.row {
    display: flex;
}

.col {
    display: inline-block;
}

.col-main {
    border: 1px solid #fff;
}

.col-side {
    width: 5.3rem;
    padding: 0 .5rem;  
}

.canvas-main {
    height: 100%;
}
